.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:300px;
    padding:30px;
    border:1px solid gray;
    border-radius:10px;

    display:flex;
    flex-direction:column;
    gap:15px;
}

.login-card input{
    padding:10px;
}

.login-card button{
    padding:10px;
    cursor:pointer;
}

.login-card h1{
    text-align:center;
}